.profileScreen{
    height: 100vh;
    color: white;
    background-color: black;
}

.profileScreen__body{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    width: 50%;
    margin:  auto;
    max-width: 880px;
    padding-top: 8%;

   
}

.profileScreen__body h1{
    font-size: 60px;
    font-weight: 800;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.profileScreen__info{
    display: flex;
   
}

.profileScreen__details{
    margin-left:  3rem;
}
.profileScreen__details > h2{
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profileScreen__info > img {
    height: 100px;
}